<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>URL Parameters Example</title>
    <!-- Include IBM Plex Mono and Sans-serif fonts from Google Fonts CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,400,500,700|IBM+Plex+Sans:400,500,700">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.cdnfonts.com/css/garamond" rel="stylesheet">

  </head>
  <body>
    <div id="helper">
      <pre>
    welcome to the template page!
    YOU DIDN'T SET ANY PARAMETERS !
      </pre>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>

